<f:layout name="Kasten" />
<f:section name="Slider">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
</f:section>

<f:section name="Main2">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
</f:section>

<f:section name="sliderunten">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
</f:section>

<f:section name="sliderinhalt">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '3'}" />
</f:section>

<f:section name="Main3">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '4'}" />
</f:section>

<f:section name="sliderunten2">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '5'}" />
</f:section>

<f:section name="sliderinhalt2">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '6'}" />
</f:section>

<f:section name="Main4">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '7'}" />
</f:section>

<f:section name="Footer">
    <div class="main">
        <f:cObject typoscriptObjectPath="lib.footerContent" data="{colPos: '100'}" />
    </div>
</f:section>
